<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %} {{title}} {% endblock %}
        </title>
    {# Load static file #}
    {% load static %}
    {# Load the tag library #}
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static "mcp/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "mcp/css/custom.css" %}">
    <link rel="stylesheet" href="{% static "mcp/css/datatables.min.css" %}">
    <link rel="stylesheet" href="{% static "mcp/css/tagsinput.css" %}">

    {# Load the tag library #}
    </head>
    <body>
        {% include "themes/navbar.html" %}

        <!-- Begin page content -->
        <div class="container">
          <div class="page-header">

            {% block button_head %}
            {% endblock %}
            {% block title_head %}
                <h1>{{title}}</h1>
            {% endblock %}
          </div>
          {% if error %}
            {% bootstrap_alert content %}
          {% endif %}
          <br>
          <div class="container">
              {% block content %}
              {% endblock %}
          </div>
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">Lutech BUS for C2-SENSE fp7 Project</p>
            </div>
        </footer>
    </body>
    <!-- Script -->
    <script src="{% static "mcp/js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "mcp/js/jquery.dataTables.min.js" %}"></script>
    {% bootstrap_javascript %}
    <script src="{% static "mcp/js/datatables.min.js" %}"></script>
    <script src="{% static "mcp/js/custom.js" %}"></script>
    <script src="{% static "mcp/js/tagsinput.js" %}"></script>
    <script src="{% static "mcp/js/Chart.min.js" %}"></script>

</html>
