{% load static %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="{% url 'index' %}"><img src="{% static "mcp/img/logo.png" %}" class="user-image" alt="C2-SENSE LOGO"></a>
    </div>
    <ul class="nav navbar-nav">
      <li></li>
      <li class="dropdown">
         <a href="#" data-toggle="dropdown" class="dropdown-toggle">MCP <b class="caret"></b></a>
         <ul class="dropdown-menu">
           <li></li>
           <li><a href="{% url 'rule_list_index' %}">Rule List</a></li>
           <!-- <li><a href="{% url 'service_list_index' %}">Service List</a></li> -->
         </ul>
      </li>

      <li class="dropdown">
         <a href="#" data-toggle="dropdown" class="dropdown-toggle">User <b class="caret"></b></a>
         <ul class="dropdown-menu">
           <li></li>
           <li><a href="{% url 'role_index' %}">Role</a></li>
           <li><a href="{% url 'responsability_index' %}">Responsability</a></li>
           <li><a href="{% url 'severity_index' %}">Severity</a></li>
           <li><a href="{% url 'team_index' %}">Team</a></li>
           <li class="divider"></li>
           <li><a href="{% url 'c2senseuser_index' %}">Users</a></li>
         </ul>
      </li>

    </ul>
  </div>
</nav>
