{% extends "themes/base.html" %}
{% load bootstrap3 %}


{% load topic_source_filter %}

{% block title %}
    {{title}}
{% endblock %}


{% block button_head %}
<div class="btn-group-head pull-right" role="group">

</div>
{% endblock %}


{% block content %}
	<div class='col-md-12'>
    <div class="alert alert-info">
      <strong>Rules</strong> are the topics mainly used by external systems such as sensor networks, data loggers, etc.
      They could have some <strong>metadata</strong> represented as key:value.
    </div>

		<table class="table table-bordered table-striped dtable">
			<thead>
			 	<tr>
			 		<th>Rule Name:</th>
          <th>Subscribed Consumers</th>
          <th>Metadata</th>
			 	</tr>
			 </thead>
			 <tbody>
         {% for t in topics %}
		    	<tr>
		    		<td><kbd>{{t.value}}</kbd></td>
            <td><strong>10</strong></td>
            <td>
              {% for ts in t.id|in_topic %}

                <strong>Key</strong> {{ts.key}} : <strong>Value</strong> {{ts.value}}
                <br>

              {% endfor %}
            </td>
		    	</tr>
          {% endfor %}
			</tbody>
		</table>
</div>


{% endblock %}
