{% extends "themes/base.html" %}
{% load bootstrap3 %}


{% load topic_source_filter %}

{% block title %}
    {{title}}
{% endblock %}


{% block button_head %}
<div class="btn-group-head pull-right" role="group">

</div>
{% endblock %}


{% block content %}
	<div class='col-md-12'>
    <div class="alert alert-info">
      <strong>Rules</strong> are special kind of topic created on the C2-SENSE bus.
      They could have an arbitrary number of <strong>metadata</strong> associated to them, represented as key:value.
    </div>

		<table class="table table-bordered table-striped dtable">
			<thead>
			 	<tr>
			 		<th>Rule Name:</th>
          <th>Metadata</th>
			 	</tr>
			 </thead>
			 <tbody>
         {% for t in topics %}
		    	<tr>
		    		<td><kbd>{{t.value}}</kbd></td>
            <td>
              {% for ts in t.id|in_topic %}

                <strong>Key</strong> {{ts.key}} : <strong>Value</strong> {{ts.value}}
                <br>

              {% endfor %}
            </td>

		    	</tr>
          {% endfor %}
			</tbody>
		</table>
</div>


{% endblock %}
