{% extends "themes/base.html" %}
{% load bootstrap3 %}

{% block title %}
    {{title}}
{% endblock %}


{% block button_head %}
<div class="btn-group-head pull-right" role="group">

</div>
{% endblock %}


{% block content %}
	<div class='col-md-12'>
		<table class="table table-bordered table-striped dtable">
			<thead>
			 	<tr>
			 		<th>ID:</th>
			 		<th>Service Name:</th>
			 	</tr>
			 </thead>
			 <tbody>
         {% for t in topics %}
		    	<tr>
		    		<td>{{t.id}}</td>
		    		<td><kbd>{{t.value}}</kbd></td>
		    	</tr>
          {% endfor %}
			</tbody>
		</table>
</div>


{% endblock %}
