{% extends "themes/base.html" %}
{% load bootstrap3 %}

{% block title %}
    {{title}}
{% endblock %}


{% block button_head %}
<div class="btn-group-head pull-right" role="group">
<a href="{% url 'c2senseuser_new' %}" class="btn btn-success btn-md"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New C2Sense User</a>
</div>
{% endblock %}


{% block content %}
	<div class='col-md-12'>
		<table class="table table-bordered table-striped dtable">
			<thead>
			 	<tr>
			 		<th>Username:</th>
          <th>Role:</th>
          <th>Team:</th>
          <th>Responsability:</th>
			 		<th>Facebook:</th>
          <th>Twitter:</th>
          <th>Email:</th>
          <th>Mobile:</th>
          <th>Fax:</th>
          <th>Subscribed Topics:</th>
          <th></th>
			 	</tr>
			 </thead>
			 <tbody>
         {% for u in users %}
		    	<tr>
		    		<td>{{u.user.username}}</td>
            <td>{{u.role}}</td>
            <td>{{u.team}}</td>
            <td>{{u.responsability}}</td>
            <td>{{u.facebook}}</td>
            <td>{{u.twitter}}</td>
            <td>{{u.email}}</td>
            <td>{{u.mobile}}</td>
            <td>{{u.fax}}</td>
            <td>
              {% for t in u.topic.all %}
                {{t.value}};
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'c2senseuser_edit' u.id %}" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
			    		<!-- <a href="{% url 'c2senseuser_edit' u.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> -->
            </td>
		    	</tr>
          {% endfor %}
			</tbody>
		</table>
</div>


{% endblock %}
