{% extends "themes/base.html" %}
{% load bootstrap3 %}

{% block title %}
    {{title}}
{% endblock %}


{% block button_head %}
<div class="btn-group-head pull-right" role="group">
  <a href="{% url 'role_new' %}" class="btn btn-success btn-md"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New User Role</a>
  </div>
{% endblock %}


{% block content %}
	<div class='col-md-12'>
		<table class="table table-bordered table-striped dtable">
			<thead>
			 	<tr>
			 		<th>ID:</th>
			 		<th>Description:</th>
			 	</tr>
			 </thead>
			 <tbody>
         {% for r in role %}
		    	<tr>
		    		<td>{{r.id}}</td>
            <td>{{r.description}}</td>
		    	</tr>
          {% endfor %}
			</tbody>
		</table>
</div>


{% endblock %}
